/*  -------------------------
    Overwrite GBIF CSS
    ------------------------- */

#content {
    padding-top: 90px!important;
}

#occmetrics h3 {
    margin-bottom: 20px;
}

/*  -------------------------
    Activate specific Bootstrap CSS
    ------------------------- */

.alert {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*  -------------------------
    Custom styling
    ------------------------- */

#aboveContent { /* Inherits <article> styling by GBIF */
    margin: -75px auto 35px auto!important; 
    min-height: 40px;
    width: 920px!important; /* 924 with 2px padding left and right */
    }
    #aboveContent .alert {
        height: 40px;
        margin: 0;
        }
        #aboveContent strong {
            font-weight: bold; /* For some reason, GBIF has turned this off */
        }
    #achievements {
        line-height: 2;
        padding-top: 10px;
        }
        #achievements .label {
            cursor: default;
            font-size: 100%;
            }
            .label.gold {
                background-color: #d4af37;
            }
            .label.silver {
                background-color: #a9a9a9;
            }

/* Basis of record bar */
.basis-of-record-0 { background-color: #e2b70d; } /* Preserved specimens */
.basis-of-record-1 { background-color: #f4d03f; } /* Fossil specimens */
.basis-of-record-2 { background-color: #f8e07f; } /* Living specimens */
.basis-of-record-3 { background-color: #8e44ad; } /* Material samples */
.basis-of-record-4 { background-color: #2691d8; } /* Observations */
.basis-of-record-5 { background-color: #5faee3; } /* Human observations */
.basis-of-record-6 { background-color: #99cbed; } /* Machine observations */
.basis-of-record-7 { background-color: #d75d6c; } /* Literature occurrences */
.basis-of-record-8 { background-color: #dddddd; } /* Unknown */

/* Coordinates bar */
.coordinates-0 { background-color: #54af37; } /* Valid coordinates (all in WGS84) */
.coordinates-1 { background-color: #f7be63; } /* Coordinates with minor issues */
.coordinates-2 { background-color: #cd290a; } /* Coordinates with major issues */
.coordinates-3 { background-color: #dddddd; } /* Coordinates not provided */

/* Multimedia bar */
.multimedia-0 { background-color: #54af37; } /* Valid multimedia */
.multimedia-1 { background-color: #cd290a; } /* Multimedia URL invalid */
.multimedia-2 { background-color: #dddddd; } /* Multimedia not provided */

/* Taxon match bar */
.taxon-match-0 { background-color: #54af37; } /* Taxon found in taxonomic backbone */
.taxon-match-1 { background-color: #f7be63; } /* Taxon found in taxonomic backbone using fuzzy match */
.taxon-match-2 { background-color: #f87e67; } /* Taxon not found in taxonomic backbone, but a higher taxon was */
.taxon-match-3 { background-color: #cd290a; } /* Taxon not found in taxonomic backbone */
.taxon-match-4 { background-color: #dddddd; } /* Taxon not provided */

/* Taxonomy partition */
#taxonomyPartition {
    font-size: 90%;
    }
    #taxonomyPartition text {
        pointer-events: none;
    }
    #taxonomyPartition rect {
        fill: #0099cc;
        fill-opacity: .8;
        stroke: #ffffff;
        stroke-width: 1.5;
        }
        #taxonomyPartition rect.parent {
            cursor: pointer;
        }
        #taxonomyPartition rect.child {
            cursor: zoom-out;
            fill: #dddddd;
        }
        #taxonomyPartition rect.unknown {
            fill: #dddddd;
        }

/* Downloads chart */
#downloadChart {
    height: 300px;
    margin-bottom: 20px;
}
.c3-axis-y {
    fill: #666666;
    }
    .c3-axis-y path,
    .c3-axis-y line {
        stroke: #666666;
    }

.c3-bar {
    fill: #0099cc!important;
}
.c3-tooltip td > span {
    background-color: #0099cc!important;
}
